/*
 * By Reteck
 * Version: 1.0.0
 */


/*-------------------------------------------------------------------------------*/
.wpcm-dashboard-plan{
    overflow: hidden;
}

.wpcm-listing-plan{
    margin: 0;
}
.wpcm-listing-plan li{
    list-style-type: none;
    padding: 10px;
}


.wpcm-notice-erro {
    color    : brown;
    font-size: 15px;
}


.wpcm-modal-whats-content {
    width           : 50%;
    background-color: #fefefe;
    margin          : 2% auto;
    padding         : 20px;
    border          : 1px solid #888;
}

.wpcm-form-control {
    margin-bottom: 10px;
    width        : 100%;
}

.wpcm-form-control label {
    color      : #000000;
    font-weight: 700;
}

.wpcm-hide {
    display: none;
}








/*Necessita otimização*/

.wpcm-ligue-nos a {
    background-color: #0079BF;
    color           : #fff;
}

.wpcm-email a {
    background-color: #1380BF;
    color           : #fff;
}

.wpcm-location a {
    background-color: #004973;
    color           : #fff;
}


.wpcm-whatsapp a {
    background-color: #2ec62e;
    color           : #fff;
}

.wpcm-contact-buttons {
    padding: 2px;
}

.wpcm-contact-buttons a {
    display      : inline-block;
    padding      : 10px;
    width        : 100%;
    border-radius: 4px;
}

.wpcm-contact-buttons a:hover {
    color: #fff;
}

.wpcm-contact-col-3 {
    width     : 33.3333%;
    float     : left;
    text-align: center;
    overflow  : hidden;
    position  : relative;
}

.wpcm-contact-col-1 {
    width     : 100%;
    float     : left;
    text-align: center;
    overflow  : hidden;
    position  : relative;
}



.wpcm-rtk-modal-control {
    padding         : 10px;
    background-color: rgb(233, 233, 233);
    margin-bottom   : 5px;
    overflow        : hidden;
    width           : 100%;
}

.wpcm-contact-telefones {
    margin-bottom: 5px;
}

.wpcm-contact-telefones span {
    color: black;
}

.wpcm-buttom-ligar a {
    display         : inline-block;
    background-color: #0079bf;
    text-align      : center;
    color           : #fff;
    border-radius   : 4px;
    padding         : 4px;
    width           : 50%;
}

.wpcm-buttom-ligar a:hover {
    color: #fff;
}

/* The Modal (background) */
.modal {
    display         : none;
    position        : fixed;
    z-index         : 90000;
    left            : 0;
    top             : 0;
    width           : 100%;
    height          : 100%;
    overflow        : auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin          : 2% auto;
    padding         : 20px;
    border          : 1px solid #888;
    width           : 300px;
}

.close {
    color       : rgb(0, 0, 0);
    float       : right;
    font-size   : 30px;
    font-weight : bold;
    margin-top  : -20px;
    margin-right: -0px;
}

.close:hover,
.close:focus {
    color          : black;
    text-decoration: none;
    cursor         : pointer;
}

/*-------------------------------------------------------------------------------*/

.wpcm-title {
    text-transform: uppercase;
}


/*FALTA ORGANIZAR*/

.wpcm-wrap-page {
    padding           : 15px;
    border-radius     : 15px;
    margin            : 15px;
    background-color  : rgb(255, 255, 255);
    box-shadow        : 0 2px 9px 0 rgba(158, 184, 209, .41);
    -webkit-box-shadow: 0 2px 9px 0 rgba(158, 184, 209, .41);
}

.wpcm-not-logged-in p {
    font-size: 18px;
    color    : #000000;
}

.wpcm-not-logged-in a {
    background-color: #244e9e;
    padding         : 10px;
    color           : #ffffff;
}

.wpcm-not-logged-in a:hover {
    background-color: #1e4285;
    padding         : 10px;
    color           : #ffffff;
}


/*====================================================================*/


/*RESET CONTAINER DO TEMA*/

.content-area {
    width  : 100% !important;
    border : none !important;
    margin : 0 !important;
    padding: 0 !important;
}

#right-sidebar {
    display: none !important;
}


/*Remove datapicker pagina enviar veículos*/

#ui-datepicker-div {
    display: none !important;
}


/*====================================================================*/

.single .thumbnail {
    display: none !important;
}

.wpcm-rtk-vehicle-filters {
    padding: 30px 25px 30px 25px !important;
}

#wpcm-sort {
    width: 400px;
}

#wpcm-sort option {
    color: #000000;
}


/*====================================================================*/


/*STYLE SIMGLE VEHICLES*/

.wpcm-rtk-box {
    background-color  : #fff;
    box-shadow        : 0 2px 9px 0 rgba(158, 184, 209, .41);
    -webkit-box-shadow: 0 2px 9px 0 rgba(158, 184, 209, .41);
    border-radius     : 8px;
    margin-bottom     : 10px;
    padding           : 10px;
    overflow          : hidden;
}

.wpcm-rtk-itens-vehicle {
    background-color: #244e9e;
    color           : #fff;
}

.wpcm-rtk-itens-vehicle ul {
    margin    : 0;
    text-align: justify;
}

.wpcm-rtk-itens-vehicle ul li {
    list-style-type: none;
    text-decoration: none;
    color          : #ffffff;
    float          : left;
    padding        : 5px 10px;
    margin         : 5px;
    width          : auto;
    border-radius  : 5px;
}

.wpcm-rtk-itens-vehicle ul li:hover {
    background-color: #1c3a72;
    cursor          : pointer;
}

.wpcm-rtk-itens-vehicle h2 {
    color: #fff;
}

.wpcm-rtk-decription {
    text-align: justify;
}

.wpcm-rtk-header {
    padding-left      : 2%;
    padding-top       : 25px;
    padding-bottom    : 20px;
    /*background-color: #244e9e;*/
}

.wpcm-rtk-header h2 {
    font-size     : 2.5em;
    font-weight   : 700;
    color         : #131313;
    width         : 13.5em;
    word-wrap     : break-word;
    margin        : 0;
    line-height   : 4rem;
    text-transform: uppercase;
}

.wpcm-rtk-header span {
    font-size     : 3.5em;
    font-weight   : 700;
    color         : #131313;
    text-transform: uppercase;
    line-height   : 7rem;
}

.wpcm-rtk-header span i {
    color     : #131313;
    font-style: normal;
}


/*====================================================================*/


/*STYLE GRID VEHICLES*/

.wpcm-listings-item {
    -webkit-box-shadow: 0px 0px 3px 1px #ECECEC;
    box-shadow        : 0px 0px 3px 1px #ECECEC;
    margin-top        : 10px !important;
    border            : none !important;
    background-color  : #ffffff !important;
    padding           : 0px 0 15px 0 !important;
    height            : auto;
}

.wpcm-listings-item:hover {
    background-color: #e9e9e9 !important;
    zoom            : 1;
}

.wpcm-listings-item-meta ul li {
    padding-right: 10px !important;
    float        : left !important;
    color        : #000000 !important;
    font-weight  : 700 !important;
}

.wpcm-listings-item-image-wrapper {
    width : 100% !important;
    height: 100% !important;
}

.wpcm-listings-item-description {
    overflow      : hidden !important;
    width         : 100% !important;
    margin-top    : 10px;
    text-transform: uppercase;
}

.entry-header h2 {
    /*page single vehicle*/
    text-transform: uppercase !important;
    display       : none !important;
}

.wpcm-listings-item-description h3 {
    font-size  : 16px;
    font-weight: bold;
    text-align : center;
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a .wpcm-listings-item-meta {
    margin-top: 10px;
}

.wpcm-listings-item-meta label {
    text-align: center;
    color     : #474747;
}

.wpcm-listings-item-meta span {
    color      : #000000 !important;
    font-weight: 700;
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a .wpcm-listings-item-image-wrapper {
    position: relative !important;
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a {
    padding   : 0 !important;
    min-height: 200px !important;
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a:hover {
    background-color: transparent !important;
}

.wpcm-title {
    color: #244e9e !important;
}

.wpcm-listings-item-meta ul li {
    color: #474747 !important;
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a .wpcm-listings-item-image-wrapper {
    left : 0;
    float: none;
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a .wpcm-listings-item-description {
    padding: 0 !important;
    display: block;
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a .wpcm-listings-item-meta {
    width       : 100%;
    padding-left: 0;
    text-align  : center;
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results {
    padding: 0 !important;
}


/*====================================================================*/


/*STYLE BY CORRECEL DE IMAGENS*/

.slider-imagens-vehicles {
    width        : 100%;
    height       : 100%;
    overflow     : hidden;
    margin-bottom: 10px;
}

.slick-prev-next {
    background-color: #244e9e;
    border-radius   : 50%;
    width           : 60px;
    height          : 60px;
    text-align      : center;
    cursor          : pointer;
    z-index         : 800;
    position        : absolute;
    top             : 40%;
    line-height     : 60px;
}

.slick-prev-next i {
    color: #ffffff;
}

.slick-prev-next:hover {
    background-color: #1c3a72;
}

.wpcm-rtk-right {
    right: 2rem;
}

.wpcm-rtk-left {
    left: 2rem;
}

.wpcm-wrap-galeria {
    overflow: hidden;
}

.slick-slide {
    margin-left : 4px !important;
    margin-right: 4px !important;
}


/*====================================================================*/


/*TITLE PAGE SIMGLE VEHICLE*/

.wpcm-vehicle-data span {
    color      : #244e9e;
    font-weight: 700;
}


/*====================================================================*/


/*DASHBOARD*/

.wpcm-dashboard-button {
    background-color: #244e9e !important;
    border-radius   : 25px;
}

.wpcm-dashboard-button:hover {
    background-color: #3976e6 !important;
}

.wpcm-button {
    background-color: #244e9e !important;
    margin-left     : 15px;
    border-radius   : 25px;
}

.wpcm-button:hover {
    background-color: #3976e6 !important;
}


/*====================================================================*/


/*CONTACT PAGE SINGLE VEHICLE*/

.wpcm-rtk-form-control {
    padding      : 10px;
    margin-bottom: 7px;
    border-radius: 7px;
    width        : 100%;
}

.wpcm-rtk-shared-social {
    width: 100%;
}

.wpcm-rtk-shared {
    list-style-type: none;
    margin         : 0;
}

.wpcm-rtk-shared li:hover {
    background-color: #3976e6;
    cursor          : pointer;
}

.wpcm-button-shared {
    margin          : 2px;
    float           : left;
    color           : #ffffff;
    background-color: #244e9e;
    padding         : 9px;
    width           : 100px;
    text-align      : center;
    border-radius   : 25px;
    display         : table;
}

.wpcm-button-shared i {
    font-size     : 25px;
    text-align    : center;
    vertical-align: middle;
    display       : table-cell;
}

.wpcm-rtk-textarea {
    resize    : none;
    max-height: 100px;
}


/*PROFILE*/

.wpcm-dashboard-profile-fields input {
    padding         : 10px;
    background-color: #fff;
    border          : 1px solid #000000;
}

.wpcm-hidden {
    display: none;
}